* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.mb-xs {
    margin-bottom: .6rem;
}
.mb-sm {
    margin-bottom: 1rem;
}
.mb-md {
    margin-bottom: 1.4rem;
}
.mb-lg {
    margin-bottom: 1.8rem;
}
.mb-xl {
    margin-bottom: 2.2rem;
}
.mb-xxl {
    margin-bottom: 2.6rem;
}

h2 {
    font-size: 2.6rem;
}

p {
    font-size: 1.5rem;
}

button {
    padding: 5%;
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: rgb(26, 26, 26);
    color: white;
}

.container {
    height: 50vh;  
    position: relative;
    display: inline-block;  
}

.w-50 {
    width: 400px;
}

.flex-row {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.align-self-center {
    align-self: center;
}
.justify-space-around {
    justify-content: space-around;
}

video {
    height: inherit;
}

.pin {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 100%;
    background-color: yellow;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

.invisible {
    opacity: 0;
    transform: scale(4);
    transition: all .7s;
}